.skills {
  p {
    font-size: 1rem;
    font-weight: 500;
    margin: 0;
    padding: 0;
    padding: 10px;
    background-color: var(--light-pink);
    display: inline-block;
    color: var(--black);
    border-radius: var(--border-radius);
    margin: 5px;
  }
}