@mixin border-link {
  content: '';
  height: 2px;
  background-color: var(--hot-pink);
  position: absolute;
  left: 20px;
  bottom: 0;
}

.header {
  height: auto;
  position: fixed;
  top: 0;
  width: 100%;
  background-color: black;
  z-index: 9999;

  &__container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 0 auto;
    max-width: 1140px;
    padding: 20px;
  }

  nav {
    position: fixed;
    top: 0;
    left: 100%;
    width: 100%;
    z-index: 1;
    background-color: black;
    transition: var(--transition);

    &::after {
      content: '';
      position: absolute;
      width: 0;
      height: 100%;
      background-color: rgba(0, 0, 0, 0.5);
      z-index: -1;
      transition: var(--transition);
    }

    &.is-open {
      position: absolute;
      left: 0;

      &::after {
        width: 100%;
      }
    }
  }

  &__nav {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-top: 90px;

    li {
      font-size: 1rem;
      font-weight: 700;
      color: #534859;
      text-decoration: none;
      display: block;
      width: calc(100% - 40px);
      padding: 30px 20px;
      position: relative;

      a {
        display: block;
      }

      & a::after {
        @include border-link;

        width: calc(100% - 40px);
      }

      &:last-of-type a::after {
        display: none;
      }
    }
  }

  &__mobile {
    display: flex;
    justify-content: flex-end;
    padding: 20px;
  }

  &__logo,
  &__actions {
    z-index: 2;
  }

  &__actions {
    #menu,
    #close{
      transition: var(--transition-ease);
    }

    #close {
      position: absolute;
      right: 20px;
    }

    &.is-open #menu {
      transform: rotate( 90deg ) scale( 0 );
      opacity: 0;
    }

    &:not(.is-open) #close {
      transform: rotate( -90deg ) scale( 0 );
      opacity: 0;
    }
  }

  @media screen and (min-width: 640px) {
    &__container {
      padding: 25px 30px 20px;
    }

    nav {
      display: flex;
      justify-content: flex-end;
      align-items: center;
      position: relative;
      left: auto;

      &::after {
        content: none;
      }
    }

    &__nav {
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
      margin-top: 0;
      column-gap: 40px;

      li {
        padding: 10px 0;

        a {
          &:not(.resume-btn){
            &.active {
              color: var(--hot-pink);
            }

            &::after {
              width: 0;
              left: 0;
              transition: width .35s ease-in-out;
            }

            &.active::after,
            &:hover:after {
              width: 100%;
            }
          }

          &.resume-btn {
            border: 2px solid var(--hot-pink);
            padding: 5px 15px;
            border-radius: 5px;
          }
        }
      }
    }

    &__actions {
      display: none;
    }
  }

  @media screen and (min-width: 980px) {
    &__container {
      padding: 30px;
    }
  }
}