.footer {
  color: #7f7f7f;
  
  &__container {
    display: flex;
    flex-direction: column-reverse;
    justify-content: space-between;
    padding: 30px;
    align-items: center;
    max-width: 1200px;
    margin: 0 auto;
    row-gap: 15px;

    .icons__container {
      display: flex;
    }

    @media screen and (min-width: 980px) {
      justify-content: center;

      .icons__container {
        display: none;
      }
    }
  }
}