.experience {
  &__content {
    &--item {
      padding: 25px;

      &:first-of-type {
        padding-top: 0;
      }

      &:last-of-type {
        padding: 0 25px;
      }
    }

    &--date {
      color: var(--hot-pink);
    }

    ul {
      list-style-type: circle;
      list-style-position: inside;
      text-indent:-20px; 
      margin-left:20px
    }
  }

  @media screen and (min-width: 640px) {
    &__content {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
    }
  }

  @media screen and (min-width: 980px) {
    &__container {
      padding: 50px;
    }
  }
}