.icons {
  &__container {
    display: flex;
    column-gap: 20px;

    svg {
      width: 25px;
      height: 25px;
      fill: #7f7f7f;
    }

    a:hover {
      svg {
        fill: var(--hot-pink);
      }
    }
  }
}