@import url('https://fonts.googleapis.com/css2?family=Space+Mono&display=swap');

:root {
  --transition: all 0.25s cubic-bezier(0.645,0.045,0.355,1);
  --transition-ease: all .35s ease-in-out;
  --dark-hot-pink: #f74e79;
  --hot-pink: #F9688D;
  --light-pink: #fb9cb4;
  --white: #FFF;
  --black: #000;
  --cream: #f4ece1;
  --blue: #61dafb;
  --border-radius: 5px;
  --max-width: 1140px;
  --margin-center: 0 auto;
  --max-width-sm: 200px;
  --max-width-md: 250px;
  --md: 640px;
  --lg: 980px;
  --xl: 1280px;
  --xxl: 1440px;
}

body {
  margin: 0;
  font-family: 'Space Mono', monospace;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: var(--black);
  color: var(--cream);
  counter-reset: section;
}

a, p, h1, h2, h3, h4, h5, h6 {
  margin: 0;
  padding: 0;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
  monospace;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

a {
  text-decoration: none;
  text-decoration-skip-ink: auto;
  color: var(--hot-pink);
  cursor: pointer;

  &:hover {
    color: var(--dark-hot-pink);
  }
}

.button {
  color: var(--white);
  background-color: var(--hot-pink);
  padding: 10px 15px;
  border-radius: 5px;
  display: inline-block;

  &:hover {
    background-color: var(--dark-hot-pink);
    color: var(--white);
  }
}

section {
  margin: 0 auto;
  padding-bottom: 20px;

  &:not(.home) {
    padding-top: 20px;
  }

  @media screen and (min-width: 640px) {
    max-width: calc(100% - 64px);
  }

  @media screen and (min-width: 1280px) {
    max-width: calc(100% - 120px);
    padding-bottom: 50px;

    &:not(.home) {
      padding-top: 50px;
    }
  }
}

.container {
  max-width: calc(100% - 32px);
  margin: auto;

  @media screen and (min-width: 640px) {
    max-width: calc(100% - 64px);
  }

  @media screen and (min-width: 1280px) {
    max-width: var(--max-width);
  }
}

h1.title {
  font-size: 2rem;
  font-weight: 700;
  margin: 0;
  padding: 0;
  text-align: center;
  color: var(--hot-pink);
  margin-bottom: 10px;
}

svg {
  width: 50px;
  height: 50px;
  fill: var(--hot-pink);
}

.highlight {
  color: var(--hot-pink);

  &.thea {
    white-space: nowrap;
  }
}